<div id="main">
  <div class="block" id="block-text">
    <div class="content">

      <% if @notifications.prev? %>
        <%= link_to("First", project_stacks_path(@project, :page => 1)) %>
        <%= link_to("Prev -", project_stacks_path(@project, :page => @notifications.prev.number)) %> 
      <% end %>
      Page <%= @notifications.number %>/<%= @notifications.number_of_pages %>
      <% if @notifications.next? %>
        <%= link_to("- Next", project_stacks_path(@project, :page => @notifications.next.number)) %>
        <%= link_to("Last", project_stacks_path(@project, :page => @notifications.number_of_pages)) %>       
      <% end %>         
      
      <%= render :partial => "processing_actions", :locals => {:stack => @notification.stack} %>

      <div class="identifier">
        <h3><%= h "#{@notification.identifier ? @notification.identifier : @notification.stack.identifier} (#{@notification.created_at.to_s(:short)})" %></h3>
      </div>

      <div id="accordion">
        <%= render :partial => "section", :collection => @sections %>
        <%= render :partial => "backtrace", :object => @backtrace if @backtrace %>
      </div>
      
      <%#= will_paginate @notifications %>
    </div>
  </div>
</div>
