<div id="main">
  <div class="block" id="block-text">
    <div class="content">

      <%= will_paginate @notifications %>
      <%= render :partial => "processing_actions", :locals => {:stack => @notification.stack} %>

      <div class="identifier">
        <h3><%= h "#{@notification.stack.identifier} (#{@notification.created_at.to_s(:short)})" %></h3>
      </div>

      <div id="accordion">
        <%= render :partial => "section", :collection => @sections %>
        <%= render :partial => "backtrace", :object => @backtrace if @backtrace %>
      </div>
      
      <%= will_paginate @notifications %>
    </div>
  </div>
</div>
