<div id="project-creation">
  <div id="project-creation-title"><h2>Create new project</h2></div>
  <% form_for @project do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
  
    <p>
      <%= f.label :description %><br />
      <%= f.text_field :description %>
    </p>
    <%= f.submit "Submit" %>
  <% end %>
</div>